*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}

.app{
  background-image: url('./photos/day-bg.png');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

.app.warm{
  background-image: url('./photos/night-bg.png');
}

main{
  min-height: 100vh;
  
  padding: 20px;
}

.search-box{
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar{
  display: inline-block;
  width: 35%;
  position: relative;
  left: 474px;
  top: 38px;
  padding: 10px;
  text-align: center;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: 2px solid #ee7979;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 19px 19px 19px 19px;
  margin-top: -25px;
  box-shadow: 2px 3px rgb(0 0 0 / 20%);
  color: #313131;
  font-size: 24px;
}

.search-box .search-bar{
  background-color: rgba(255, 255, 255, 0.75);
}

.location{
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50,50,70,0.5);
}

.date{
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50,50,70,0.5);
}
.weather-box{
  text-align: center;
}

.temp{
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(205, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;
  color: #fff;
  font-size: 85px;
  font-weight: 700;
  text-shadow: 2px 3px rgb(50 50 70 / 50%);
  text-align: center;
  box-shadow: 3px 6px rgb(0 0 0 / 20%);
}

.weather{
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50,50,70,0.5);
}

.errorMsg{
  text-align: center;
  font-size: 23px;
  font-weight: 500;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}